body {
  background: url(img/bg_main.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:50px 0px; 
  padding:10% 0 10%;
  text-align:center;
}

.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.margin-base-vertical {
    margin: 40px 0;
}
